
/* HEADER */

header {
  background-color: black;
  background-image: url("images/2.jpg");
  background-size: 100%;
  background-position: center;
  height: 400px;
  padding: 20px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}

header .logo a {
  background-image: url("images/logo.svg");
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 80px;
  position: relative;
  text-indent: -9999999px;
  top: -30px;
  width: 300px;
}
#logo {
  float:middle;
  margin: 0;
  transition: transform 0.9s;
  animation: animation-logo 5s;
  animation-iteration-count: infinite;
}

@keyframes animation-logo {
  10% {
      transform: rotate(360deg) scale(0.8);
      opacity: 1;
  }

  20% {
      opacity: 0;
  }
}

@keyframes animation-subtitle {
  25% {
      background-color:skyblue;
  }

  75% {
      background-color:lightblue;
  }
}
.upsidedown {
  transform: rotate(360deg);
}

.over {
  background-color: burlywood;
  transform: scale(1.5) translateY(100px);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

/* FEATURES */

.features {
  background: white;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.features figure {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

.features figure img {
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  width: 200px;
}

#subtitle {
  animation: animation-subtitle 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
body {
  background: rgb(58, 58, 58);
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* FOOTER */

footer {
  background: black;
  color: gray;
  font-size: 12px;
  padding: 20px 20px;
  text-align: center;
}
